@model IEnumerable<Product>

<h2>Products</h2>

<td><a href=/Product/InsertProduct/>NEW</a></td>

<table class="table">
    <tr>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Color</th>
        <th>Size</th>
        <th>Article</th>
        <th>Stock Level</th>
    </tr>

    @foreach (var product in @Model)
    {
        <tr>
            <td><a href=/Product/ViewProduct/@product.ProductID>UPDATE</a></td>
            <td>@product.ProductID</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.ColorName</td>
            <td>@product.SizeName</td>
            <td>@product.ArticleName</td>
            <td>@product.StockLevel</td>
        </tr>
    }

</table>