@model Product

<h3 class="tableLabel">Create a New Product</h3>

@using (Html.BeginForm("InsertProductToDatabase", "Product", "Post"))
{
    <input asp-for="ProductID" type="hidden" value="" />

    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" placeholder="Please Enter Product Name" />

    <label asp-for="Price" class="control-label">Price</label>
    <input type="number" step="0.01" name="Price" class="form-control" placeholder="0" />

    <label asp-for="StockLevel" class="control-label">StockLevel</label>
    <input type="number" step="1" name="StockLevel" class="form-control" placeholder="0" />

    <div class="form-group">
        <label for="">Select Article</label>
        <select class="form-control" name="ArticleID" value="">
            @foreach (var article in Model.Articles)
            {
                <option value="@article.ID">@article.ID @article.ArticleName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="">Select Color</label>
        <select class="form-control" name="ColorID" value="">
            @foreach (var color in Model.Colors)
            {
                <option value="@color.ID">@color.ID @color.ColorName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="">Select Size</label>
        <select class="form-control" name="SizeID" value="">
            @foreach (var size in Model.Sizes)
            {
                <option value="@size.ID">@size.ID @size.SizeName</option>
            }
        </select>
    </div>
    <p>&nbsp;&nbsp;</p>
    <input type="submit" value="Create Product" class="btn btn-primary" />
}