@model Product

<h3 class="tableLabel">View Product</h3>

<table>
    <tr>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Color</th>
        <th>Size</th>
        <th>Article</th>
        <th>In Stock</th>
        <th></th>
    </tr>

    <tr class="outline">
        <td><a href=/Product/UpdateProduct/@Model.ProductID>UPDATE</a></td>
        <td>@Model.ProductID</td>
        <td>@Model.Name</td>
        <td>@Model.Price</td>
        <td>@Model.ColorName</td>
        <td>@Model.SizeName</td>
        <td>@Model.ArticleName</td>
        <td>@Model.StockLevel</td>
        <td><a href=/Product/RemoveProductFromDatabase/@Model.ProductID>DELETE</a></td>
    </tr>

</table>

