@model PurchaseOrder

<section class="container">
    <div>
        <table>
            <colgroup>
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 45%;">
                <col span="1" style="width: 25%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            <tr>
                <th>Purchase Order ID:</th>
                <td><b>@Model.ID</b></td>
                <td><b>@Model.ShippingInfo.FullName</b></td>
                <td><b>@Model.CarrierInfo.Carrier</b></td>
                
            </tr>
            <tr>
                <th>Date Created:</th>
                <td>@Model.DateEntered</td>
                <td>@Model.ShippingInfo.AddressOne</td>
                <td>@Model.CarrierInfo.TrackingNumber</td>
            </tr>
            <tr>
                <th>Date Due:</th>
                <td>@Model.DateDue</td>
                <td>@Model.ShippingInfo.AddressTwo</td>
                @if (Model.CarrierInfo.Shipped)
                    {
                    <td>SHIPPED</td>
                    }
                    else
                    {
                    <td style="color:red">NOT SHIPPED</td>
                    }
            </tr>

            <tr>
                <th></th>
                <td></td>
                <td>@Model.ShippingInfo.City, @Model.ShippingInfo.State @Model.ShippingInfo.ZipCode</td>
            </tr>
            <tr>
                
            </tr>
            <tr>
                
            </tr>
            
        </table>
    </div>
    <div class="center">

    </div>

    <div style="margin-top:15px;">
        <h3 class="tableLabel">ITEMS</h3>
        @foreach (var order in Model.WorkOrders)
        {
            int index = 1;

            <table class="shadow">
                <colgroup>
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 25%;">
                </colgroup>
                <tr>
                    <td style="border-top-left-radius:10px; background-color:white; text-align:center"><b>x @order.Count</b> </td>
                    <td style="background-color:black; color:white; text-align:center">@order.Product.Name - @order.Product.ArticleName</td>
                    <td style="background-color:black; color:white;">@order.Product.ColorName</td>
                    <td style="background-color:black; color:white;  border-top-right-radius:10px; text-align:center; ">@order.Product.SizeName</td>
                </tr>
                <tr>
                    @foreach (var design in @order.Designs)
                    {

                        <td style="background-color:grey; border-bottom-left-radius:10px; text-align:center; color:white">[@index]</td>
                        <td style="background-color:grey; color:greenyellow; text-align:center;">@design.WorkName</td>
                        <td style="background-color:grey; color:greenyellow">@design.LocationName</td>
                        <td style="background-color:grey; border-bottom-right-radius:10px; align-content:center">
                            <img src=@design.ImageURL alt="Design" class="designImage">
                        </td>
                        index++;
                    }
                </tr>
            </table>
        }
        
    </div>
</section>

